<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Комментарии</title>
</head>
<body>
<h2>Комментарии:</h2>

<form th:action="@{/addComment}" method="post">
  <input type="hidden" th:name="userId" th:value="${user.id}"/>
  <input type="hidden" th:name="postId" th:value="${postId}"/>
  <label>
    <textarea th:name="message" placeholder="Введите ваш комментарий..." required></textarea>
  </label>
  <button type="submit">Добавить комментарий</button>
</form>

<ul>
  <li th:each="comm : ${comments}">
    <h3 th:text="${comm.getUser().getName()}"></h3>
    <p th:text="'Дата: ' + ${comm.date}"></p>
    <p th:text="'Время: ' + ${comm.time}"></p>
    <p th:text="${comm.message}"></p>
    <p th:text="'Лайки: ' + ${comm.likesCount}"></p>

    <form th:action="@{/likeComment}" method="post">
      <input type="hidden" th:name="commId" th:value="${comm.id}"/>
      <input type="hidden" th:name="userId" th:value="${user.id}"/>
      <input type="hidden" th:name="postId" th:value="${postId}"/>
      <button type="submit">Лайк</button>
    </form>

    <form th:action="@{/unlikeComment}" method="post">
      <input type="hidden" th:name="commId" th:value="${comm.id}"/>
      <input type="hidden" th:name="userId" th:value="${user.id}"/>
      <input type="hidden" th:name="postId" th:value="${postId}"/>
      <button type="submit">Убрать лайк</button>
    </form>
  </li>
</ul>

<a th:href="@{/init/user/{id}(id=${user.id})}">Назад</a>
</body>
</html>
