<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дневник пользователя</title>
</head>
<body>
<h1>Дневник пользователя: <span th:text="${userName}"></span></h1>

<h2>Записи:</h2>
<ul>
    <li th:each="post : ${diary}">
        <h3 th:text="${post.title}"></h3>
        <p th:text="'Дата: ' + ${post.date}"></p>
        <p th:text="'Время: ' + ${post.time}"></p>
        <p th:text="${post.message}"></p>
        <p th:text="'Лайки: ' + ${post.likesCount}"></p>
        <a th:href="@{/notinit/user/{id}/comm/{postId}(id=${userId}, postId=${post.id})}">Комментарии</a>
    </li>
</ul>

<a href="/notinitapp">Назад</a>
</body>
</html>
